:root {
  --transition-time: 500ms;
  --transition-ease: cubic-bezier(.1,.7,.8,.3);
}

/* Animation menu restaurant */

@keyframes itemAppear {
  from { 
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(100%, 0%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

/* Animation lorsqu'il est coché */
.heart input[type="checkbox"]:checked + label svg .initial {
  fill: url(#grad2);
  stroke: transparent;
}

.heart input[type="checkbox"]:checked + label svg {
  transform-origin: 50% 50%;
  animation: heart var(--transition-time);
  animation-fill-mode: forwards;
}

/* Définition de l'animation */
@keyframes heart {
  from {
    transform: scale(1);
  }
  78% {
    transform: scale(1.25);
  }
  to {
    transform: scale(1);
  }
}

/* Animation Loader */

@keyframes food {
17% { opacity: 1;}
25% { transform: rotate(22.5deg); opacity: 1; }
75% { transform: rotate(-22.5deg); opacity: 1;}
100% { top: 50vh; z-index: -1; opacity: 0;}
}

@keyframes shadow {
50% {transform: scale(1.2,1);}
}

@keyframes gelatine {
from, to { transform: scale(1, 1); }
25% { transform: scale(0.9, 1.1); }
50% { transform: scale(1.1, 0.9); }
75% { transform: scale(0.95, 1.05); }
}

@keyframes rotatee {
10% {  transform: rotate(-65deg); opacity: 1 ;}
25% {  transform: translateX(-10px) rotate(-65deg); opacity: 1;}
50% {  transform: translateX(10px) rotate(-65deg); opacity: 1}
75% {  transform: translateX(-10px) rotate(-65deg); opacity: 1;}
100% { transform: translateX(10px) rotate(-65deg); opacity: 0;}
}

@keyframes opac {
  10% {  opacity: 1 ;}
  90% { opacity: 1;}
  100% { opacity: 0; z-index: -5;}
  }